<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Feels</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <!-- <div class="container"> -->
      <!-- <div class="first_row"></div> -->
      <!-- <div class="second_row"></div>
      <div class="third_row"></div> -->
    <!-- </div> -->
    hello
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    	<div class="flipper">
    		<div class="front">
    			front content
    		</div>
    		<div class="back">
    			back content
    		</div>
    	</div>
    </div>

  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
  <script src="script.js"></script>
  </body>
</html>
