{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Summary Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1>THIS IS IT!</h1>
    <pre id="object"></pre>
    <ul id="list"></ul>


    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

  </body>
</html>
